[Desktop Entry]
Encoding=UTF-8
Name=Mountbox
Name[el]=Mountbox
Comment=Mount internal and external devices
Comment[el]=Τοποθετήστε εσωτερικές και εξωτερικές συσκευές
Exec=mountbox
Icon=mountbox
Terminal=false
Type=Application
Categories=System;
NoDisplay=False
